<div id='wrapper'>
    {{>sidebar}}

    <div id='content-wrapper' class='d-flex flex-column'>
        <div id='content'>
              {{>header}}
            <div class='container-fluid'>

                 <!-- Page Heading -->
               <div
                    class='d-sm-flex align-items-center justify-content-between mb-4'
                >
                    <h1 class='h3 mb-0 text-gray-800'>Quản lý đơn hàng</h1>
                   
                </div>

                <!-- Content Row -->
                <button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fa-solid fa-circle-plus me-1" style="color: #ffffff;"></i>Cập nhật đơn hàng
                </button>
                <div class="collapse mb-3" id="collapseExample">
                    <div class="card card-body">
                        <form
                            id='formUpdateOrder'
                            action='/orders/update'
                            method='POST'
                            enctype="multipart/form-data"
                        >
                        <div class='mb-3'>
                            <label for='formFile' class='form-label'>Chọn tệp excel chứa các đơn hàng cần thêm</label>
                            <input
                                class='form-control'
                                type='file'
                                id='formFile'
                                name='file'
                                accept=".xlsx, .xls"
                                required
                            />
                        </div>
                         <div class="mb-3">
                                <label for="typeShop" class="form-label">Shop</label>
                                <select id="typeShop" class="" name="shopId" required>
                                        <option value="" selected disabled>-- Chọn cửa hàng --</option>
                                    {{#each shops}}
                                        <option value="{{this._id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        <input class="btn btn-primary" type="submit" value="Cập nhật đơn hàng mới">
                    </form>
                    </div>
                </div>
                {{!-- Filter Order --}}
                <div class="d-flex my-5 px-1 justify-content-around flex-wrap">
                  <div class="d-flex flex-column mx-1">
                    <label for="orderCode" class="mx-auto">Mã đơn hàng</label>
                    <input id='orderCode' name="orderCode" placeholder="Nhập mã đơn hàng"/>
                  </div>
                  {{!-- Status --}}
                  <div class="d-flex flex-column mx-1">
                    <label for="status" class="mx-auto">Trạng thái</label>
                    <select class="form-select form-select-sm" id="status" name="status">
                      <option value="" selected>Tất cả</option>
                      <option value="Chờ xác nhận" >Chờ xác nhận</option>
                      <option value="Chờ thanh toán">Chờ thanh toán</option>
                      <option value="Đã thanh toán" >Đã thanh toán</option>
                    </select>
                  </div>
                   {{!-- ShopId --}}
                  <div class="d-flex flex-column mx-1">
                    <label for="shopId" class="mx-auto">Cửa hàng</label>
                    <select class="form-select form-select-sm" id="shopId" name="shopId">
                      <option value="" selected>Tất cả</option>
                            {{#each shops}}
                                <option value="{{this._id}}">{{this.name}}</option>
                            {{/each}}
                    </select>
                  </div>
                   {{!-- userId --}}
                  <div class="d-flex flex-column mx-1">
                    <label for="userId" class="mx-auto">Người tạo đơn</label>
                    <select class="form-select form-select-sm" id="userId" name="userId">
                      <option value="" selected>Tất cả</option>
                            {{#each users}}
                                <option value="{{this._id}}">{{this.username}}</option>
                            {{/each}}
                    </select>
                  </div>
                   {{!-- buyerPay --}}
                  <div class="d-flex flex-column mx-1">
                    <label for="buyerPay" class="mx-auto">Tài khoản mua</label>
                    <input  id="buyerPay" name="buyerPay" placeholder="Nhập tài khoản mua"/>
                  </div>
                  <button class="btn btn-primary px-5 mx-2 py-2 my-auto" id="btnFilterOrder">Lọc</button>
                </div>
                <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Tất cả đơn hàng</h6>
                        </div>
                        
                        <form action="/orders/pay?_method=PUT" method="POST" id="formPayOrder">
                            <div class="card-body" style="max-height: 80vh; overflow-y: auto;">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTableNoSearching" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Đã thanh toán</th>
                                                <th>Mã đơn hàng</th>
                                                <th>Mã người nhập đơn</th>
                                                <th>Shop</th>
                                                <th>Tài khoản mua</th>
                                                <th>Trạng thái</th>
                                                <th>Voucher</th>
                                                <th>Tổng giá trị đơn hàng</th>
                                                <th>Mã tiền công</th>
                                                <th>Tiền công</th>
                                                <th>Người mua phải trả</th>
                                                <th>Phí thanh toán</th>
                                                <th>Phí cố định</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody class="list-order">
                                           <div><input type="checkbox" id="selectAll" name="selectAll"/>Chọn tất cả</div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <ul id="paginationOrder" class="pagination-md ms-3 my-2"></ul>
                            <button class="btn btn-success ms-3" type="submit" id="payOrder">Đã thanh toán</button>
                        </form>

                        
                </div>
                <div class="d-flex justify-content-end"> <a href="/orders/hide" class="text-decoration-none text-decoration-underline">Đơn hàng ẩn (Số lượng đơn hàng ẩn lớn thì thời gian truy cập sẽ tăng)</a></div>
            </div>
        </div>
    </div>




{{!-- Toast --}}
<div class="position-absolute top-0 end-0">
<div class="toast align-items-center text-bg-primary border-0" id="liveToast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Đã tải thành công, có thể kiểm tra ở database hoặc ở đơn hàng ẩn
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>
</div>
</div>
{{!-- Loading --}}
<div class='fixed-top fixed-bottom d-none' id='loadingIndicator' style="background-color: #00000047">
    <div class='dots-1 m-auto'></div>
</div>
{{!-- Modal Banking --}}
<div class="modal fade" id="bankingInfo" tabindex="-1" aria-labelledby="bankingInfo" aria-hidden="true" >
      <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class='dots-1  m-auto d-flex' id="loadingQRCode"></div>
        
        <img src="" alt="" id="bankingImg" style="width: 100%;">
        <div id="bankingText"></div>
      </div>
     
    </div>
  </div>
</div>
{{!-- Modal & Form Delete Order --}}
    <div class="modal fade" id="deleteorder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa đơn hàng</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa đơn hàng này?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
            <button type="button" class="btn btn-danger btn-delete-order">Xóa</button>
     
        
      </div>
    </div>
  </div>
</div>
   <form action="/orders/delete?_method=DELETE" method="POST" id="orderDelete" class="d-none" name="delete-order-form"></form>
   <script src="/js/orders_manager.js"></script>